{% if page.title != 'ABOUT' %}
<a href="/about/" class="no-style">
	<div id="footer-top-border">
		Learn more about Johan &#187;
	</div>
</a>
{% else %}
<a href="/contact/" class="no-style">
	<div id="footer-top-border">
		Contact Johan &#187;
	</div>
</a>
{% endif %}
<footer>
	<div id="footer-content">
		<div id="footer-content-wrapper">
			<div class="footer-item">
				<h1> {{site.title}} </h1>
				<p>
					<img src="/assets/img/johan.png" id="footer-img" alt="Johan">
					{{site.description}}
				</p>
			</div>
			<div class="footer-item">
				<h1> Social media </h1>
				<ul>
					<li>

						<p>
							<img src="/assets/img/github-logo.png" alt="Github logo" class="social-media-img">
							View <a href="https://github.com/{{ site.github_username }}" class="no-style" target="_blank">@{{ site.github_username }}</a> on GitHub for open-source projects, school work and own projects
						</p>
					</li>
					<li>
						<p>
							<img src="/assets/img/twitter-logo.png" alt="Twitter logo" class="social-media-img">
							Follow <a href="https://twitter.com/{{ site.github_username }}" class="no-style" target="_blank">@{{ site.twitter_username }}</a> on Twitter for news and opinions
						</p>
					</li>

				</ul>
			</div>
			<div class="footer-item">
				<h1> Map </h1>
				<ul>
					{% for my_page in site.pages %}
					{% if my_page.title %}
					<li>
						<a href="{{ my_page.url | relative_url }}" class="nav">{{ my_page.title | escape }}</a>
						<p> {{my_page.linkdesc}}</p>
					</li>
					{% endif %}
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
	<div id="footer-bottom">
		Copyright © 2015-2017 Rooter.se / All rights reserved / Website developed by Johan Andersson
	</div>
</footer>