<head>
	<meta charset="utf-8">
 	<meta http-equiv="X-UA-Compatible" content="IE=edge">
 	<meta name="viewport" content="width=device-width, initial-scale=1">
 	<meta name="apple-mobile-web-app-status-bar-style" content="#b17174">
	<meta name="theme-color" content="#b17174">

	<meta property="og:site_name" content="{{ site.title }}">
	<meta property="og:title" content="{{ page.title }}" />
	<meta property="og:description" content="{{ page.description }}">
	<meta property="og:url" content="http://www.rooter.se/{{page.url}}" />
	<meta property="og:image" content="/assets/img/bg/bg2.jpg" />

	<link rel="icon" type="image/png" href="/assets/img/rooterfavicon-grey.png">

 	<title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
 	<meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

 	<link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
 	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Roboto:100,300,400,500" rel="stylesheet">
 	<link rel="stylesheet" href="/assets/font-awesome-4.4.0/css/font-awesome.min.css">

 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
 	<script src="/assets/js/responsive-menu.js"></script>

 </head>