<div class="masonry-layout">

	{% if page.layout == 'home' %}
	<section>
		<h1>Projects</h1>
	</section>
	{% endif %}
	<section>
		<img src="/assets/img/hajtek3.png" class="masonry-item-img">
		<h2>Hajtek.se</h2>
		<p>
			The latest incarnation of my long running project <a href="http://dev.hajtek.se/new" target="_blank">Hajtek</a>. Still some final touches needed before final release. 
			In the future, the idea is to implement the dynamic content and community framework I am building in my spare time.
		</p>
	</section>
	<section>
		<img src="/assets/img/teamspeak.png" class="masonry-item-img">
		<p>
			TS3-server at <a href="ts3server://teamspeak.hajtek.se?port=9987">ts.hajtek.se</a> that I run together with my friend Fredde.
		</p>
	</section>
	<section>
		<img src="/assets/img/minecraft.png" class="masonry-item-img">
		<p>
			Modded Minecraft server at minecraft.hajtek.se. Running <a href="https://www.feed-the-beast.com/projects/ftb-infinity-lite-1-10" target="_blank">FTB Infinity Lite 1.10</a> at the moment.
		</p>
	</section>
	<section>
		<img src="/assets/img/draaplogo.png" class="masonry-item-img">
		<p>
			Logo for Twitch streamer <a href="http://twitch.tv/draapparn" target="_blank">Draapparn</a>.
		</p>
	</section>
	<section>
		<img src="/assets/img/draaptest.png" class="masonry-item-img">
		<p>
			Twitch overlay for <a href="http://twitch.tv/draapparn" target="_blank">Draapparn</a>.
		</p>
	</section>
	<section>
		<img src="/assets/img/9d.png" class="masonry-item-img">
		<p>
			Unfinished concept design for a gaming guild.
		</p>
	</section>
	<section>
		<img src="/assets/img/hajtek2.png" class="masonry-item-img">
		<p>
			Old design of Hajtek, but with dynamic functionality implemented. Still available for testing at <a href="http://dev.hajtek.se/" target="_blank">dev.hajtek.se</a>
		</p>
	</section>
	<section>
		<img src="/assets/img/hajtek.png" class="masonry-item-img">
		<p>
			Concept design made in Photoshop.
		</p>
	</section>
	<section>
		<img src="/assets/img/hakk.png" class="masonry-item-img">
		<h2>HAKK</h2>
		<p>
			Website for the multiplayer game HAKK. Made during a network programming course at LTH, the game utilizes the server/client-concept. Download it out at <a href="http://c.rooter.se/hakk" target="_blank">c.rooter.se/hakk</a>.
		</p>
	</section>
	<section>
		<img src="/assets/img/thefruitbasket.png" class="masonry-item-img">
		<h2>thefruitbasket</h2>
		<p>
			Mockup webshop made to train the implementation of security measures for websites.
		</p>
	</section>
	<section>
		<img src="/assets/img/krustykookies.png" class="masonry-item-img">
		<h2>Krusty Kookies Database System</h2>
		<p>
			Mockup business database.
		</p>
	</section>
</div>