---
# front matter yeh
---

// Margins
$center: 0 auto;

// Some colors
$brand-color: #9245d5;
//$brand-color: #40b3ec;
$darker-brand-color: #610AAD;
$darker-brand-color2: #6f32a3;
$darker-brand-color3: #592882;

// Background
$background-color: #2d2d2d;
$content-background-color: #fff;

$background-image: url('/assets/img/bg/bg2.jpg');

// Fonts
$base-font-family: 'Roboto', sans-serif;
$second-font-family: 'Open Sans', sans-serif;
$body-font-size: 62.5%;
$base-font-size: 1.6rem;
$base-line-height: 1.8rem;
$base-font-weight: 400;

// Content
$base-width: 100%;
$base-height: 100%;
$content-width: 1200px;
$content-text-width: 800px;

// Page headlines
$page-headline-height: 150px;

// Header
$header-background-color: #fff;
$header-background-color2: $brand-color;
$header-height: auto;
$header-padding: 20px;
$header-padding-top: 30px;
$home-headline-height: 90vh; 

// Logo img
$logo-height: 50px;

// Media queries
@mixin media-query($device) {
	@media screen and (max-width: $device) {
		@content;
	}
}
$smaller-screen: 1220px;
$mobile-screen: 840px;

// Import partials
@import "rooter";