---
# front matter yeh
---

// Margins
$center: 0 auto;

// Some colors


// Brand colors
$headline-color: #fff;
$lighter-brand-color: #dfb09d;
$light-brand-color: #da9288;
$mid-brand-color: #b17174;
$darker-brand-color: #582a45;
$darkest-brand-color: #2f153f;

// Background
$background-color: #2d2d2d;
$content-background-color: #fff;

$background-image: url('/assets/img/bg/bg2.jpg');

// Fonts
$base-font-family: 'Roboto', sans-serif;
$second-font-family: 'Open Sans', sans-serif;
$body-font-size: 62.5%;
$base-font-size: 1.6rem;
$base-line-height: 1.8rem;
$base-font-weight: 400;

// Content
$base-width: 100%;
$base-height: 100%;
$content-width: 1200px;
$content-text-width: 800px;

// Page headlines
$page-headline-height: 150px;

// Logo img
$logo-height: 50px;

// Header
$header-background-color: #headline-color;
$header-background-color2: $headline-color;
$header-height: 50px;
$header-padding: 20px;
$header-padding-top: 30px;
$home-headline-height: calc(100vh - 100px); 

// Responsive values
$responsive-width: $base-width - 4%;
$responsive-padding: 2%;
$responsive-home-headline: calc(100vh - 50px);

// Media queries
@mixin media-query($device) {
	@media screen and (max-width: $device) {
		@content;
	}
}
$smaller-screen: 1220px;
$mobile-screen: 840px;
$smaller-mobile-screen: 670px;

// Import partials
@import "rooter";