/*
Reset of basic elements
*/
html, body, div, header, nav, main, section, footer{
	margin: 0;
	padding: 0;
}

html {
	width: $base-width;
	height: $base-height;
}

/*
Basic styling
*/
body {
	font-family: $second-font-family;
	font-size: $base-font-size;
	background-color: $background-color;
	width: $base-width;
	height: $base-height;
}

#body-wrapper {
	position: relative;
	width: $base-width;
	min-height: $base-height;
}

/*
Headers
*/
h1, h2, h3, h4, h5 {
	margin: 0;
	font-family: $base-font-family;
}


/*
Paragraphs
*/


/*
Links
*/

a {
	color: $mid-brand-color;
	text-decoration: none;
	&:hover {
		color: $darker-brand-color;
	}	
}

a.white-to-dark {
	color: #ffffff;
	text-decoration: none;

	&:hover {
		color: $darker-brand-color;
	}
}

a.no-style {
	text-decoration: none;
}



/*
Images
*/
#logo-img {
	height: $logo-height;
}

#about-image {
	width: 160px;
	border: 3px solid #000;
	float: left;
	margin-right: 20px;
}

#footer-img {
	float: left;
	width: 80px;
	border: 2px solid $headline-color;
	margin-right: 10px;
	margin-bottom: 10px;
}

.social-media-img {
	float: left;
	width: 40px;
	margin-right: 10px;
}

.home-item-img {
	width: 70%;
	margin: 15%;
	padding: 0;
	display: block;
	border: 5px solid $headline-color;
}

/**
 * Code formatting
 */
pre,
code {
margin: 0;
	font-size: 1.0rem;
	border-radius: 0;
	background-color: #383838;
	color: $headline-color;
}

code {
	padding: 1px 5px;
}

pre {
	padding: 12px 12px;
	margin-bottom: 10px;
	overflow-x: auto;

	> code {
		border: 0;
		padding-right: 0;
		padding-left: 0;
  }
}
/* Just to make sure the pre tag doesn't have unnessecary margin/padding */
figure {
	margin: 0;
	padding: 0;
}

/*
Clearfix
*/
%clearfix:after {
  content: "";
  display: block;
  clear: both;
}
