/*
Header
*/
header {
	/*background-color: $header-background-color2;*/
	background-image: $background-image;
	background-repeat: no-repeat;
	background-size: cover;
	height: auto;
	width: $base-width;
	position: relative;
	padding: 0;
	margin: 0;
	/*@extend %clearfix;*/
}

#header-wrapper {
	position: relative;
	margin: $center;
	padding-top: $header-padding-top;
	padding-bottom: $header-padding;
	width: $content-width;
	height: $header-height;
	/*@extend %clearfix;*/

	@include media-query($smaller-screen) {
		width: $responsive-width;
		padding: $responsive-padding;
	}
}

#header-top {
	position: relative;
	width: $base-width;

	@extend %clearfix;
}

/*
Logo
*/
#logo-container {
	float: left;
	@include media-query($smaller-mobile-screen) {
		margin-left: 5px;
		margin-top: 5px;
	}
}

/*
Main content styling
*/
main {
	background-color: $content-background-color;
	position: relative;
	width: $base-width;
	@extend %clearfix;
}

#main-content {
	float: left;
	position: relative;
	background-color: $content-background-color;
	width: $base-width;
	margin-bottom: 60px;
	margin-top: 60px;
	@extend %clearfix;
	@include media-query($smaller-screen) {
		margin-bottom: 30px;
		margin-top: 30px;
	}

	@include media-query($mobile-screen) {
		margin-bottom: 10px;
		margin-top: 10px;
	}
}

#main-content.home {
	background-color: $portfolio-background-color;
	margin-top: 0px;
	padding-bottom: 60px;
}

#main-content-wrapper {
	position: relative;
	background-color: $content-background-color;
	width: $content-width;
	margin: $center;
	@extend %clearfix;
	@include media-query($smaller-screen) {
		width: $responsive-width;
		padding: $responsive-padding;
	}
}

#main-content-text {
	position: relative;
	background-color: $content-background-color;
	width: $content-text-width;
	margin: $center;
	@extend %clearfix;
	@include media-query($mobile-screen) {
		width: $base-width;
	}

	p {
		font-family: $second-font-family;
		font-size: 0.9rem;
		line-height: 1.8rem;
		margin-top: 15px;
		margin-bottom: 15px;
	}

	p.desc, p.author {
		margin: 0;
		margin-top: 0px;
	}

	img {
		margin-top: 10px;
		margin-bottom: 10px;
		float: left;
		margin-left: 10px;
		width: calc(100% - 20px);
		&.small {
			clear: right;
			position: relative;
			float: left;
			max-width: calc((100% / 2) - 15px);
			&.right {
				margin-left: 0;
				margin-right: 10px;
				clear: left;
				float: right;
			}
		}

		&.centered {
			display: block;
			margin-left: 0;
			position: relative;
			float: none;
			margin: $center;
			width: auto;
			max-width: 80%;
		}
	}

}

/*
Home page items
*/
.home-item {
	float: left;
	width: $base-width / 3;
	margin: 0;
	padding: 0;

	&:nth-child(2) {
		background-color: $lighter-brand-color;
	}

	&:nth-child(3) {
		background-color: $light-brand-color;
	}

	&:nth-child(4) {
		background-color: $mid-brand-color;
	}

	&:nth-child(5) {
		background-color: $light-brand-color;
	}

	&:nth-child(6) {
		background-color: $mid-brand-color;
	}

	&:nth-child(7) {
		background-color: $lighter-brand-color;
	}

	&:hover {
		.home-item-img {
			
		}
	}
}

.masonry-layout {
	width: $responsive-width;
	margin: $center;
	padding: $responsive-padding;
	-moz-column-width: 13em;
	-webkit-column-width: 13em;
	-moz-column-gap: 0.5em;
	-webkit-column-gap: 0.5em;
	background-color: $portfolio-background-color;

	section {
		display: inline-block;
		margin: 0.5em;
		padding:  1em;
		width:  100%; 
		background-color:  #fff;
		font-family: $second-font-family;
		font-size: 0.9rem;
		line-height: 1.2rem;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		border-radius: 5px;

		&:hover {
			background-color: lightgrey;
		}
	}

	h2 {
		font-size: 1.0rem;
		margin-top: 10px;
	}

	p {
		font-size: 0.8rem;
	}
}

.home-item-content {
	float: left;
	width: $base-width;
}

/*
Page headlines
*/
#home-headline {
	margin-top: 0;
	position: relative;
	/*background-color: $header-background-color2;*/
	height: $home-headline-height;
	width: $base-width;

	@include media-query($smaller-screen) {
		height: $responsive-home-headline;
	}
}

#home-headline-content {
	position: relative;
	width: $content-width;
	height: 100%;
	margin: $center;
	@include media-query($smaller-screen) {
		width: $responsive-width;
		padding: $responsive-padding;
	}
}

#home-headline-content-box {
	position: absolute;
	bottom: 40%;
	width: auto;
	left: 0;
  	right: 0;
  	margin: 0 auto;
  	text-align: center;

  	 p {
  	 	margin-top: 20px;
  		font-family: $second-font-family;
  		color: $headline-color;
  		font-size: 1.2rem;
  		font-weight: $base-font-weight;
  	}

  	p.lower {
  		font-size: 1.0rem;
  		margin-top: 40px;
  	}

  	h1 {
		font-size: 2.6rem;
		color: $headline-color;
		font-weight: $base-font-weight;
	}

	@include media-query($mobile-screen) {
		h1 {
			font-size: 2.0rem;
		}
		p {
  	 		margin-top: 20px;
  			font-size: 1.0rem;
  		}

  		p.lower {
  			font-size: 0.8rem;
  		}
	}

	@include media-query($smaller-mobile-screen) {
		h1 {
			font-size: 1.5rem;
		}
		p {
  	 		margin-top: 20px;
  			font-size: 1.0rem;
  		}

  		p.lower {
  			font-size: 0.8rem;
  		}
	}

}

#page-headline {
	margin-top: 0;
	padding-bottom: 10px;
	position: relative;
	/*background-color: $header-background-color2;*/
	height: $page-headline-height;
	width: $base-width;
	@include media-query($smaller-screen) {
		width: $responsive-width;
		padding: $responsive-padding;
		height: $page-headline-height - 50px;
	}
	@extend %clearfix;
}

#page-headline-content {
	position: relative;
	margin-top: 0;
	width: $content-width;
	height: 100%;
	margin: $center;
	@include media-query($smaller-screen) {
		width: $responsive-width;
		padding: $responsive-padding;
		height: 100%;
	}
}

#page-headline-content-box {
	position: absolute;
	bottom: 10px;
	width: auto;
	left: 0;
  	right: 0;
  	margin: $center;
  	text-align: center;

  	 p {
  	 	margin-top: 10px;
  		font-family: $second-font-family;
  		color: $headline-color;
  		font-size: 1.2rem;
  		font-weight: $base-font-weight;
  	}

  	p.lower {
  		font-size: 1.0rem;
  		margin-top: 40px;
  	}

  	h1 {
		font-size: 2.6rem;
		color: $headline-color;
		font-weight: $base-font-weight;
	}

	@include media-query($smaller-screen) {
	bottom: 20px;
	}

	@include media-query($mobile-screen) {
		h1 {
			font-size: 2.0rem;
		}
		p {
  	 		margin-top: 0px;
  			font-size: 1.0rem;
  		}

  		p.lower {
  			font-size: 0.8rem;
  		}
	}

	@include media-query($smaller-mobile-screen) {
		
		h1 {
			font-size: 1.5rem;
		}
		p {
  	 		margin-top: 0px;
  			font-size: 1.0rem;
  		}

  		p.lower {
  			font-size: 0.8rem;
  		}
	}
}

#front-page {
	width: 500px;
	color: #fff;
	font-weight: lighter;
	font-size: 1.2rem;
	margin: $center;
}

/*
Navigation
*/
.menu-icon {
	display: none;
}
nav {

	float: right;
	margin-top: 10px;

	.menu-icon {
		display: none;
	}

	.responsive {

		width: auto;
		height: auto;
		margin: 0;
		padding: 0;
	}

	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;

		li {
			display: inline-block;
			padding: 0;
			margin: 0;
			margin-left: 20px;
		}
	}
	a {
		display: inline-block;
		text-decoration: none;
		padding: 5px;
		font-size: 1.0rem;
		line-height: 2.4rem;
		font-weight: $base-font-weight;
		color: $headline-color;

		&:hover {
			color: $darker-brand-color;
		}
	}
	@include media-query($smaller-mobile-screen) {
		position: absolute;
		top: 9px;
		right: 10px;
		height: auto;
		width: auto;
		background-color: $lighter-brand-color;
		z-index: 1;
		border-radius: 5px;
		.menu-icon {
			display: block;
			position: absolute;
			top: 5px;
			right: 10px;
			cursor: pointer; 
			cursor: hand;
			> svg path {
        		fill: $headline-color;
     		}
		}
		.responsive {
			display: none;
			clear: both;
		}
		ul {
			margin-top: 40px;
			li {
				display: block;
				text-align: right;
				margin-right: 10px;

				&:first-child {
					padding-top: 10px;
				}

				&:last-child {
					padding-bottom: 20px;
				}
			}

		}

		a { 
			display: block;
			margin-top: 0px;
			line-height: 1.0rem;
			padding-top: 10px;
			padding-bottom: 10px;
		}
		/*
		&:hover .responsive {
      		display: block;
      		padding-bottom: 5px;
    	}*/
	}
}

/*
Blog-page
*/
ul.post-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
	width: 100%;
	position: relative;
	li {
		margin-bottom: 50px;
		width: 100%;	
	}
	.post-meta {
		font-family: $second-font-family;
		font-size: 0.9rem;
		color: $light-brand-color;
	}

	h2 {
		font-size: 1.4rem;
		margin: 0;
		padding: 0;
	}

	p.desc {
		font-family: $second-font-family;
		font-size: 1.0rem;
	}

	a.post-link {
		color: $darker-brand-color;
		text-decoration: none;

		&:hover {
			color: $mid-brand-color;
		}
	}
}

/*
Display for tags
*/
.tags {
	display: inline-block;
	border: 1px solid $lighter-brand-color;
	font-family: $second-font-family;
	color: $darker-brand-color;;
	font-size: 0.8rem;
	line-height: 1.4rem;
	width: auto;
	padding: 5px 10px 5px 10px;
	word-spacing: 10px;
	span.head {
		color: $lighter-brand-color;
	}
	&.post {
		margin-bottom: 30px;
	}
}

/*

*/

.treemap {
	font-size: 0.8rem;
	margin-bottom: 10px;
}

/*
Horizontal-center
*/
.horizontal-center {
	margin: $center;
	text-align: center;
	min-width: 100px;
}

/*
Blog-categories
*/
ul.blog-categories {
	list-style-type: none;
	padding: 0;
	margin: 0;
	margin: $center;
	position: relative;
	li {
		margin: $center;
		display: inline-block;
		font-family: $second-font-family;
		font-size: 0.8rem;
		text-align: center;
		background-color: $lighter-brand-color;
		padding: 5px;
		border-radius: 5px;
		color: $headline-color;
	}
}

/*
Blog posts
*/
article.post {
	position: relative;

	header.post-header {
		background-image: none;
	}
	h1.post-title {
		font-family: $base-font-family;
		display: none;
	}
	p.post-meta {
		color: $mid-brand-color;
		display: none;
	}

	p.bread-text {
		color: $darkest-brand-color;
		font-weight: bold;
	}

	div.post-content {
		@extend %clearfix;
		h1, h2, h3, h4, h5 {
			font-family: $base-font-family;
			margin-top: 50px;
		}

		h1 {
			font-size: 2.4rem;
			line-height: 2.4rem;
		}

		h2 {
			font-size: 2.2rem;
			line-height: 2.2rem;
		}

		h3 {
			font-size: 1.8rem;
			line-height: 1.8rem;
		}

		h4 {
			font-size: 1.6rem;
			line-height: 1.6rem;
		}

		h5 {
			font-size: 1.4rem;
			line-height: 1.4rem;
		}

		ul {
			padding: 0;
			padding-left: 5px;
			
			li {
				padding-top: 10px;
				margin: 10px;
				font-size: 1.0rem;
				line-height: 1.0rem;
				ul {
					padding-top: 0;
					margin: 10px;
					padding-left: 10px;
					li {
						padding-top: 0;
					}
				}
			}
		}
	}
}

.post-author {
	position: relative;
	width: $responsive-width;
	padding: 2%;
	background-color: #f6f6f6;
	margin-bottom: 20px;
	line-height: 1.2rem;
	@extend %clearfix;

	img {
		width: 150px;
		border: 3px solid $mid-brand-color;
	}

	.img-wrap {
		text-align: center;
		position: relative;
		max-width: 150px;
		float: left;
		margin-right: 30px;
		@extend %clearfix;
		@include media-query($smaller-mobile-screen) {
			margin: $center;
			float: none;
		}

	}

	.text-wrap {
		float: left;
		widtH: calc(100% - 180px);
		@include media-query($smaller-mobile-screen) {
			margin: $center;
			float: none;
			width: $base-width;
		}
	}

	h1 {
		font-size: 1.4rem;
		line-height: 1.4rem;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.author-description {
		margin: 0;
		padding: 0;
		font-size: 0.9rem;
	}

	.follow-button {
		float: none;
		position: relative;
		margin: $center;
		margin-top: 10px;
		background-color: $light-brand-color;
		padding: 7px;
		border-radius: 5px;
		font-size: 0.8rem;
		line-height: 0.8rem;
		box-shadow: none;
		border: none;
		color: $headline-color;
		cursor: pointer; 
		cursor: hand;
	}
}

/*
Footer
*/
footer {
	min-height: 160px;
}

#footer-content {
	background: -moz-linear-gradient(top, #383838 0%, #2d2d2d 100%);
	background: -webkit-linear-gradient(top, #383838 0%,#2d2d2d 100%);
	background: linear-gradient(to bottom, #383838 0%,#2d2d2d 100%);
	width: $base-width;
	min-height: 160px;
}

#footer-content-wrapper {
	padding-top: 80px;
	width: $content-width;
	margin: $center;
	@include media-query($smaller-screen) {
		width: $base-width - 4%;
		padding: 2%;
		padding-top: 80px;
	}
	@include media-query($mobile-screen) {
		padding-top: 30px;
	}
	@extend %clearfix;
}

#footer-top-border {
	width: $base-width;
	height: 50px;
	background-color: $mid-brand-color;
	text-align: center;
	color: #fff;
	font-family: $second-font-family;
	font-weight: 400;
	font-size: 1.0rem;
	line-height: 50px;
	margin-bottom: 0px;
	&:hover {
		background-color: $light-brand-color;
	}
}

#footer-bottom {
	padding-top: 50px;
	padding-bottom: 30px;
	width: $base-width;
	text-align: center;
	color: #fff;
	font-family: $second-font-family;
	font-weight: 400;
	font-size: 0.7rem;
}

.footer-item {
	float: left;
	max-width: 300px;
	min-width: 300px;
	margin-left: 50px;

	@include media-query($mobile-screen) {
		float: none;
		margin-left: 0;
		margin: $center;
		margin-top: 50px;
	}

	h1 {
		color: #aaaaaa;
		font-family: $base-font-family;
		font-weight: 500;
		font-size: 1.4rem;
		line-height: 1.4rem;
	}

	p {
		color: #fff;
		font-family: $second-font-family;
		font-size: 0.9rem;
		font-weight: 300;
		color: #cfcfcf;
	}

	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
		margin-top: 14px;
		li {
			display: block;
			padding: 0;
			margin: 0;
			margin-bottom: 20px;
			p {
				margin: 0;
				padding: 0;
				font-size: 0.8rem;
				color: #cfcfcf;
			}
		}
	}
	a {
		margin: 0;
		padding: 0;
		text-decoration: none;
		font-weight: 600;
		color: $headline-color;

		&:hover {
			color: $mid-brand-color;
		}
	}

	a.nav {
		margin: 0;
		padding: 0;
		display: block;
		text-decoration: none;
		font-size: 0.9rem;
		line-height: 0.9rem;
		font-weight: 600;
		color: #fff;

		&:hover {
			color: $mid-brand-color;
		}
	}

}

