---
layout: default
---

<div id="main-content home">
	<a id="projects" name="projects"></a>
	<div class="home-item">
		<div class="home-item-content">
			<img src="/assets/img/hakk.png" class="home-item-img">
		</div>
	</div>
	<div class="home-item">
		<div class="home-item-content">
			<img src="/assets/img/thefruitbasket.png" class="home-item-img">
		</div>
	</div>
	<div class="home-item">
		<div class="home-item-content">
			<img src="/assets/img/krustykookies.png" class="home-item-img">
		</div>
	</div>
	<div class="home-item">
		<div class="home-item-content">
			<img src="/assets/img/hajtek.png" class="home-item-img">
		</div>
	</div>
	<div class="home-item">
		<div class="home-item-content">
			<img src="/assets/img/hajtek2.png" class="home-item-img">
		</div>
	</div>
	<div class="home-item">
		<div class="home-item-content">
			<img src="/assets/img/hajtek3.png" class="home-item-img">
		</div>
	</div>
</div>