---
layout: default
description: {{ page.desc | escape }}
---
<div id="main-content">
	<div id="main-content-wrapper">
		<div id="main-content-text">
			<div class="treemap">
				<a href="/blog/">
					<i class="fa fa-arrow-left" aria-hidden="true"></i> Back
				</a> to blog index
			</div>
			<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

				<header class="post-header">
					<h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
					<p class="bread-text" itemprop="name breadtext">{{ page.desc | escape }}</p>
					<p class="post-meta">
						<i class="fa fa-calendar" aria-hidden="true"></i>
						<time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y " }}</time>
						<i class="fa fa-clock-o" aria-hidden="true"></i>
						{{ page.date | date: "%H:%M"}}
						{% if page.author %} by <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}
					</p>
				</header>

				<div class="post-content" itemprop="articleBody">
					{{ content }}
				</div>

				<div class="tags post">
            	<span class="head">Tags:</span>
        			{% for tag in page.tags %}
        			{{ tag }}
        			{% endfor %}
    		</div>

				<div class="post-author">
					<div class="img-wrap">
					<img src="/assets/img/johan.png" alt="Johan">
					<form action="http://www.twitter.com/{{site.twitter_username}}" target="_blank">
						<button class="follow-button" type="submit"><i class="fa fa-twitter" aria-hidden="true"></i>&nbsp;@{{site.twitter_username}}</button>
					</form>
					</div>
					<div class="text-wrap">
					<h1>Written by {{page.author}}</h1>
					<span class="author-description">{{site.authordesc}}</span>
					</div>
				</div>

				<div class="treemap">
				<a href="/blog/">
					<i class="fa fa-arrow-left" aria-hidden="true"></i> Back
				</a> to blog index
				</div>

				<h3>Comments</h3>
				{% if site.shortname %}
				{% include disqus_comments.html %}
				{% endif %}
			</article>
		</div>
	</div>
</div>